
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


<div id="loginDiv" style="width:50%">
    <div class="form-group">
        <label for="txtEmail">Promo Web API </label>
        
    </div>
    
</div>


